<%= form_for(@proposta, html: { class: 'tab-content form-horizontal' }) do |f| %>


  <div class="form-group">
    <%= f.label :nome, class: 'col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :nome, class: "form-control input-sm" %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :descricao, class: 'col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_area :descricao, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :valor, class: 'col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :valor, class: 'price form input-sm' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :inicio, class: 'col-sm-2' %>
    <div class="col-sm-4">
      <%= f.date_select :inicio, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :fim, class: 'col-sm-2' %>
    <div class="col-sm-4">
      <%= f.date_select :fim, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cidade, class: 'col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :cidade, class: 'cities form-control input-sm' %>
    </div>
  </div>

  <div class="actions">
    <%= button_tag 'Salvar', class: "btn btn-success", type: 'submit' %>
  </div>

<% end %>
