<p>
  <strong>Nome:</strong>
  <%= @proposta.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @proposta.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= number_to_currency @proposta.valor %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @proposta.inicio.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @proposta.fim.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @proposta.cidade %>
</p>

<%= link_to 'Editar', edit_proposta_path(@proposta) %> |
<%= link_to 'Voltar', propostas_path %>
